.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#newLocation {
    color: red;
}
th {
    font-size: 150%;
    text-align: center;
}
.menuBody, .indexBody {
    background-color: rgba(228, 253, 104, 0.3);
}
#NameLabel, #EmailLabel, #PhoneLabel, #ReasonLabel, #infoLabel, #radioButton, #bestDay {
    font-weight: bold;
}
/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/
td {
    text-align: center;
}
a:visited {
    color: #006EFF;
}
a:hover {
    font-weight: bold;
    background-color: red;
}
a:active {
    text-decoration: none;
}
.beverages {
    text-align: left;
}
.beveragePrice {
    text-align: right;
}
.beveragesHeader {
    /*border-bottom: solid 1px*/
    text-align: left;
    text-decoration: underline;
}
.contactLabels {
    text-align: right;
}
.nav-pills a {
    background-color: #D6D6D6;
}
.form {
    padding-top: 0;
}
